@font-face {
  font-family: 'Avenir';
  src: url('./resource/font/Metropolis-Light.otf') format('truetype');
}

body{
  font-family: 'Avenir';
  background: url("./resource/images/bg_pic.jpg") no-repeat;
}

.shadow-box{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  width: 90%;
  margin: 0 auto;
}
.shadow-body{
  padding: 10px 50px;
  height: 60vh;
    overflow: auto;
}
.xbox{
  display: flex;
  flex-direction: row;
  column-gap: 20px
}
.xbox >div{
  flex: 1 1
} 
.vbox{
  display: flex;
  flex-direction: column;
  row-gap: 2rem
}
.vbox >div{
  flex: 1 1;
}
.page-stepper .MuiStepper-root{
  background-color: transparent;
  width: 60%;
  margin: 15px auto;
}
@media only screen and (max-width: 760px) {
  .xbox {
    display: flex;
    flex-direction: column;
    row-gap: 2rem
  }
  .shadow-box{
    width: auto;
    height: 90vh
  }
  .page-stepper .MuiStepper-root{
    width: calc(100% - 100px);
  }
  .shadow-body{
    height: 70vh;
  }
  .app-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
}

.button-footer{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px inset;
  padding: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
}
.shadow-container{
  width: 75%;
  margin: 0 auto;
}
